* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.logo {
    margin-left: 15px;
}

.default-layout {
    display: grid;
    grid-template-rows: 80px auto 3rem;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

header {
    grid-area: header;

}

main {
    grid-area: main;
    min-height: 88vh;
}

footer {
    grid-area: footer;
    background: black;
    padding: 1rem;
    color: #fff;
}